

<tbody>
    <% @equipments.each do |equipments| %>
      <tr>
        <td><%= equipments.name %></td>
        <td><%= equipments.description %></td>
        <td><%= equipments.image_id %></td>
      </tr>
    <% end %>
</tbody>