
<div class="marcas">
	<div class = "logos"><img src="/images/marcas/Bobcat.png"></div>
	<div class = "logos"><img src="/images/marcas/Case.png"></div>
	<div class = "logos"><img src="/images/marcas/Freightliner.png"></div>
	<div class = "logos"><img src="/images/marcas/Fruehauf.png"></div>
	<div class = "logos0"><img src="/images/marcas/Dorsey.png"></div>
	<div class = "logos0"><img src="/images/marcas/Ford.png"> </div>
	<div class = "logos0"><img src="/images/marcas/GH50.png"> </div>
	<div class = "logos0"><img src="/images/marcas/Chevrolet.png"> </div>
	<div class = "logos"><img src="/images/marcas/Caterpillar.png"> </div>
	<div class = "logos"><img src="/images/marcas/Utility.png"> </div>
	<div class = "logos"><img src="/images/marcas/TrailKing.png"> </div>
	<div class = "logos"><img src="/images/marcas/John Deere.png"> </div>
	<div class = "logos1"><img src="/images/marcas/GMC.png"> </div>
	<div class = "logos1"><img src="/images/marcas/Grove.png"> </div>
	<div class = "logos1"><img src="/images/marcas/International.png"> </div>
	<div class = "logos1"><img src="/images/marcas/JLG.png"> </div>
	<div class = "logos1"><img src="/images/marcas/Kenworth.png"> </div>
	<div class = "logos1"><img src="/images/marcas/Komatsu.png"> </div>
	<div class = "logos1"><img src="/images/marcas/MasseyFerguson.png"> </div>
	<div class = "logos1"><img src="/images/marcas/NewHolland.png"> </div>
	<div class = "logos1"><img src="/images/marcas/Peterblit.png"> </div>
	<div class = "logos1"><img src="/images/marcas/Terex.png"> </div>
	<div class = "logos1"><img src="/images/marcas/Trailmobile.png"> </div>
	<div class = "logos1"><img src="/images/marcas/Transcraft.png"> </div>
	<div class = "logos0"><img src="/images/marcas/Volvo.png"> </div>
	<div class = "logos1"><img src="/images/marcas/WackerNeuson.png"> </div>
	<div class = "logos1"><img src="/images/marcas/trackmobile.png"> </div>

</div>	