<html>
<p> La siguiente informacion de optuvo de su formulario de contacto de sus sitio Equipos Y Maquinarias</p> 
<div >
  <div >
      <p> Nombre: <%= @body_data.name %></p></br>
      <p> Email: <%= @body_data.email %></p></br>
      <p> Mensaje:</p></br>
      <p> <%= @body_data.contact %></p>           
  </div>
</div>
<html>