// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------Imagenes-----------------*/

.contenedorImagenes{
   width: 906px;
   height: 350px;
   margin: 10px auto 0px auto;   
}

.contenedorImagenes .imagenesTituloGaleria{
   width: 906px;
   height: 25px;
   padding-top: 5px;
   text-align: center;
   font-size: 18px;
   text-transform: capitalize; 
   font-weight: bold;
   background-color: #a6a6a6;
   color: #FFFFFF;
   float: left;
}

.contenedorImagenes .imagenesContenido{
   width: 300px;
   height: 320px;
   border: 1px solid #a6a6a6;  
   float: left;
}

.contenedorImagenes .imagenesContenido .imagenesGaleria{
   width: 250px;
   height: 250px;   
   text-align: center;     
   margin: 10px auto 0px auto;    
}

.contenedorImagenes .imagenesContenido .imagenesGaleria img{
   max-width: 250px;
   max-height: 250px;           
}

.contenedorImagenes .imagenesContenido .imagenesTitulo{
   width: 300px;
   height: 40px;
   font-size: 15px;
   text-align: center;
   text-overflow:ellipsis; 
   white-space:nowrap;
   overflow:hidden;  
}

.contenedorImagenes .imagenesContenido .imagenesboton{
   width: 300px;
   height: 20px;
   text-align: center;      
}