@import url(http://fonts.googleapis.com/css?family=Roboto:500,700,400italic);

body {
  background-color: #f2f2f2;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: red;
}

.field_with_errors {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.field_with_errors label{
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

.field_with_errors p{
  padding: 0px;
  margin: 0px;
}

.field_with_errors input{
  background-color: yellow;
}

.field_with_errors select{
  background-color: yellow;
}

#error_explanation {
  position: fixed;
  top: 0;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    margin-left: 20px;
    color: #000000;
  }
}
