<div class="breadcrumb2">
	<div class="navegacion">
		<span class="linea"><%= render_breadcrumbs :separator => ' / ' %></span>
	</div>
	<div class="anuncio">
		<span class="linea"><%= link_to '!CREA TU PROPIO ANUNCIO AQUÃ!', "/equipment/new" %></span>
	</div>	
</div>