	<div class="footer">
		<ul>
			<li><%= link_to "Acerca de nosotros", nosotros_path %></li>
			<li><%= link_to "Marcas", marcas_path %></li>
			<li><%= link_to "Contactanos", contactanos_path %></li>
			<li><%#= link_to "Especiales", especiales_path %></li>
			<li><a href="http://www.tbf.mx">Powered by: TBF</a></li>			
		</ul>
	</div>